.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 0;
  margin: 100px auto;
}
.form input {
  border: 1px solid gainsboro;
  margin-top: 5px;
  height: 50px;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 8px;
  /* padding-left: 8px; */
}
.signin-button {
  height: 40px;
  background-color: rgb(63, 166, 226);
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 15px;
  cursor: pointer;
}
.sign-google-button {
  height: 45px;
  cursor: pointer;
  background-color: rgb(63, 166, 226);
  color: white;
  border: 1px solid rgb(185, 181, 181);
  border-radius: 8px;
  background-color: white;
  color: black;
}
