.filter-bar {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  align-items: center;
  margin-top: 20px;

}
.filter-button {
  color: rgb(0, 0, 0);
  background-color: antiquewhite;
  padding: 8px 12px;
  border: none;
  font-size: 14px;
  border-radius: 50px;
  margin-right: 8px;
}


.item-cards-flex {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  padding: 6px;
}
.coffee-card {
  padding: 15px;
  border-radius: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: bisque;
}
.coffee-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: contain;
}
.coffee-img-flex {
  height: 180px;
  width: 170px;
  overflow: hidden;
}

@media (max-width: 720px) {
  .item-cards-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3px;
    column-gap: 3px;
    margin-top: 20px;
  }

  .coffee-img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
@media (max-width: 500px) {
  .item-cards-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3px;
    column-gap: 3px;
    margin-top: 20px;
  }

  .coffee-img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
.coffee-info-div {
  display: flex;
  flex-direction: column;
  background-color: bisque;
}
.bottom-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-order-button {
  background-color: rgb(10, 160, 105);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 206px;
  height: 52px;
  border-radius: 80px;
  position: fixed;
  bottom: 10px;
}
